DATABASE_URL=postgresql+psycopg2://admin:password@postgres:5432/ims

BACKEND_CORS_ORIGINS=["http://localhost:5173"]
CLERK_JWKS_URL="https://your-domain.clerk.accounts.dev/.well-known/jwks.json"
CLERK_ISSUER_URL="https://your-domain.clerk.accounts.dev"